<h2>Hur ser man skillnaden mellan ekologiskt och konventionellt odlat?</h2>
<p>Med den fr&aring;gan inledde Bodil S&oslash;gaards sitt anf&ouml;rande. 
</p>
<p>Konventionellt odlat &#150; v&auml;xer snabbare och producerar mera. 
  Kvalitete anses vara lika med stora produkter. L&auml;ttillg&auml;ngligt 
  kv&auml;ve medf&ouml;t tunna cellv&auml;ggar. Omvandling till nitrat till 
  protein stoppas och nitrat omvandlas till nitrit och vidare till nitrosaminer. 
  V&auml;xten tar upp mera vatten vilket medf&ouml;r att smaken sp&auml;ds 
  ut (ger mindre smak).</p>
<p>I ett f&ouml;rs&ouml;k med &auml;pplen vid&#146;sades att mera kv&auml;ve 
  ger mindre syra, socker och f&auml;rg p&aring; &auml;pplena. Aromen i 
  tidig frukt faller snabbt. I vinterfrukt g&aring;r denna process l&aring;ngsammare.</p>
<p>Golden Delicios och Granny Smith &auml;r de &auml;pplesorterna som inneh&aring;ller 
  mest allergener (som orsakar allergi??) &Auml;pplenas etyleninneh&aring;ll 
  &ouml;kar och n&aring;r sin kulmen n&auml;r de &auml;r fullt mogna. Svampar 
  gillar &auml;pplen med mycket etylen. Omogna &auml;pplen inneh&aring;ller 
  mycket lite etylen. F&ouml;r att hindra etylenproduktionen i &auml;pplen 
  sprutas de med etoxyguin och d&auml;refter med ett vax. 80% av &auml;pplena 
  som &auml;ts i Danmark behandlas p&aring; detta s&auml;tt.</p>
<p>Ett annat j&auml;mf&ouml;rande f&ouml;rs&ouml;k med ekologisk och konventionell 
  odling som g&ouml;dslats med organiskt och oorganisk kv&auml;veg&ouml;dsel 
  visar att immunf&ouml;rsvaret minskar (gr&aring;m&ouml;gelinfektionen 
  &ouml;kar) vid kv&auml;ve-g&ouml;dsling.<br>
  Ekologiskt producerade v&auml;xter inneh&aring;ller mer &auml;mnen ex. 
  f&ouml;rsvars&auml;mnen.</p>
<p>I f&ouml;rs&ouml;k med sallat hade </p>
<p> 
  <ul>
    <li>ekologiskt odlat / organ g&ouml;dsel - b&auml;st sundhet</li>
    <li>ekologiskt odlat / oorgan g&ouml;dsel</li>
    <li>konventionellt odlat / organ g&ouml;dsel</li>
    <li>konventionellt odlat / oorgan g&ouml;dsel - s&auml;mst sundhet</li>
  </ul>
<p></p>
<p>F&ouml;rs&ouml;k med selleri- sorter p&aring; fyra olika g&aring;rdar:</p>
<p>
  <ul>
    <li>biodynamisk sedan l&auml;nge (mullhalt 2,3%)</li>
    <li>Omlagd g&aring;rd sedan 20 &aring;r</li>
    <li>Omlagd g&aring;rd sedan 10 &aring;r</li>
    <li>Nyomlagd g&aring;rd (mullhalt 1,6%)</li>
  </ul>
<p></p>
<p>Lagringsf&ouml;rs&ouml;k visar att de &auml;ldre sorterna odlade p&aring; 
  den biodynamiska g&aring;rden, hade l&auml;ngst h&aring;llbarhet. Torrsubsatnshalten 
  &auml;r h&auml;r en viktig faktor.<br>
  De &auml;ldre sorterna har mest ts-halt och har en intensivare smak av 
  selleri och jord. Nya sorter ger h&ouml;gre sk&ouml;rd och mycket vatten.<br>
  Djurf&ouml;rs&ouml;k visar antingen positiva effekter av biodynamisk odling 
  eller inga effekter alls.</p>
<p>F&ouml;r fertiliteten &auml;r E-vitamin viktigt. Det finns i vetegroddar. 
  Bara ett ekologiskt bageri i Danmark anv&auml;nder vetegroddar.<br>
  Det &auml;r viktigt att vi v&aring;r ett b&auml;ttre f&ouml;r&auml;dling 
  av v&aring;ra r&aring;varor!</p>
<p>Bodil anser att det vi vet det r&auml;tta inom oss, s&aring; det &auml;r 
  egentligen inte n&ouml;dv&auml;ndigt att forska. Vi m&auml;ste v&aring;ga 
  ta ansvar f&ouml;r oss sj&auml;lva. Forskningen tar fram fakta &aring;t 
  oss och hj&auml;lper oss att v&aring;ga. Hon po&auml;ngterar skillnaden 
  mellan att vara expert och att ta ansvar. Och avslutar med &#150; ju snabbare 
  det g&aring;r desto v&auml;rre g&aring;r det!</p>
<p>I fr&aring;gestunden s&auml;jer Bodil att lagom stora katastrofer &auml;r 
  det som f&ouml;r utvecklingen snabbast fram&aring;t &#150; &aring;t r&auml;tt 
  h&aring;ll.</p>
<p><i>Referat av Karin Sahlstr&ouml;m</i></p>
