---
title: Rapporter
body_class: rapporter
---
<h1>Rapporter</h1>

<p>
  H&auml;r samlar vi rapporter fr&aring;n stipendiater och <a href="#seminarier">seminarier</a>.
</p>

<h2>Stipendiatrapporter</h2>

<h3>Korkrotsjuka i ekologisk tomatproduktion - en sjukdom som hämmas av ett rikt mikroliv i jorden
<span class="author">av <span class="author-name">Hanna Friberg</span></span></h3>
<p>
  Korkrotsjuka drabbar tomatrötter och ställer till stora problem i odlingen. Forskning vid SLU har visat att ett rikt mikroliv kan hämma sjukdomen, så att tomatplantorna mår och växter bättre. Tack vare bidrag från Flory Gates stipendiefond Fred med jorden har vi kunnat karaktärisera den svamp som orsakar sjukdomen.
</p>

<p>
  <a href="/files/krokrotsjuka-hanna-friberg.docx" class="btn btn-download">Ladda ner rapport</a>
</p>

<hr>

<h3>Omsorgsfull samlevnad över artgränser för gemensamt blomstrande
<span class="author">av <span class="author-name">Åsa Ståhl</span></span></h3>
<p>
  Det här är en rapport om att ha ömsesidig tillblivelse som sin utgångspunkt kring matförsörjning. Den startar i en teknofeministisk1 ansats till hur arter kan leva och blomstra tillsammans, vilka frågor och scenarion kring matförsörjning ansatsen väcker samt hur det levernet ter sig. Sedan redogör jag för delar av arbetet jag och andra med mig gjort kring litteraturstudier, scenarion, undervisning och studiebesök där det gjorts försök att föreställa sig andra framtider genom att börja i det som redan finns. Rapporten rör sig bland annat över Småland, Skåne och norra ön på Nya Zeeland. Den rör sig också över gränsdragningar, såsom den mellan natur och kultur.
</p>

<p>
  <a href="/files/asa_stahl_2016.pdf" class="btn btn-download">Ladda ner rapport</a>
</p>

<hr>

<h3>Undersökning av olika foderstaters och handhavandets inverkan på mjölkens innehåll av proteiner.
<span class="author">av <span class="author-name">Kristina Belfrage, SLU</span></span></h3>
<p>
  2014 startades ett projekt upp för att undersöka hur olika foderstater och handhavanden påverkade mjölkens innehåll av bl.a. olika proteiner. Detta var speciellt intressant att undersöka eftersom senare forskning visat på möjliga negativa hälsoeffekter av ett betakasein (A1), och för att ostutbytet minskat kraftigt under senare år. I projektet ingick två fjällkobesättningar med olika foderstater och betesregimer. Mjölkens innehåll av olika kaseiner och vassleproteiner undersöktes och korrelerades med kornas genetik och driftsystem. Undersökningen sträckte sig över en fyramånadersperiod och täckte såväl betesperioden som stallperioden.
</p>

<p>
  <a href="/files/mjolk-kristina-belfrage.docx" class="btn btn-download">Ladda ner rapport</a>
</p>

<hr>

<h3>Förstudie: Fleråriga grönsakerstillväxt, näringsinnehåll ochupptag av tungmetalle
  <span class="author">av <span class="author-name">Rebecka Törnqvist, Hälsingbo Skogsträdgård</span></span></h3>
<p>
  Forskningsprojektet har till syfte att undersöka fleråriga grönsakers tillväxt, näringsinnehåll och upptag av tungmetaller i tre olika odlingsjordar i södra Dalarna. I denna förstudie undersöktes de tre olika odlingsjordarna närmare i avseende på pH, textur, mullhalt och nivåer av växtnäringsämnen och tungmetaller. Målet är att kunna dra slutsatser om hur tillväxten och näringsinnehållet i fleråriga grönsaker skiljer sig beroende på odlingsjordens egenskaper, samt om det finns risk för förhöjda nivåer av tungmetaller i dessa plantor.
</p>

<p>
  <a href="/files/rapport-rebecka-tornqvist.pdf" class="btn btn-download">Ladda ner rapport</a>
</p>

<hr>

<h3>Utveckling av nya h&auml;stredskap speciellt anpassade f&ouml;r l&auml;ttare h&auml;straser
<span class="author">av <span class="author-name">Kristina Belfrage, SLU</span></span></h3>

<p>
  <a href="/files/belfrage_april_2012.pdf" class="btn btn-download">Ladda ner rapport</a>
</p>

<hr>

<h3>P&aring;verkas tomatens s&ouml;tma, syra och tomatsmak vid ympning p&aring; olika grundstammar?
  <span class="author">av <span class="author-name">Karin Sj&ouml;stedt</span></span></h3>
<p>
  En screening genomf&ouml;rd av gruppen Deltagardriven forskning &#8211; v&auml;xthus, 
  d&auml;r fyra olika &auml;delsorter kombinerades med olika grundstammar. 
</p>
<p>
  <a href="/files/Rapport_tomat_2.pdf" class="btn btn-download">Ladda ner rapport</a> 
  <!--<a href="/files/tomat.pdf">Ladda ner kort rapport</a>-->
</p>

<hr>

<h3>Mykorrhiza-anv&auml;ndbart verktyg inom ekologisk odling? 
  <span class="author">av <span class="author-name">Birgitta R&auml;mert, SLU, Inst f&ouml;r ekologi och v&auml;xtprod.l&auml;ra</span></span></h3>
<p>
  <a href="/files/mykorrhiza.pdf" class="btn btn-download">Ladda ner rapport</a>
</p>

<hr>

<h3>F&ouml;rb&auml;ttrad kv&auml;vehush&aring;llning vid lagring och anv&auml;ndning av fast stallg&ouml;dsel i ekologisk odling
  <span class="author">av <span class="author-name">Artur Granstedt, Stiftelsen Biodynamiska Forskningsinstitutet</span></span></h3>
<p>
  <a href="/files/granstedt.pdf" class="btn btn-download">Ladda ner rapport</a>
</p>

<hr>

<h3>Betydelsen av g&ouml;dselmedlets kv&auml;veform f&ouml;r v&auml;xtens utveckling och produktens kvalitet som livsmedel
  <span class="author">av <span class="author-name">Anuschka Heeb, Inst. f&ouml;r ekologi och v&auml;xtproduktionsl&auml;ra, SLU, Uppsala</span></span></h3>
<p>
  <a href="/files/Anuschka_Heeb.pdf" class="btn btn-download">Ladda ner rapport</a>
</p>

<hr>

<h3>Markbiologiska interaktioner kring klumprotsjuka
  <span class="author">av <span class="author-name">Hanna Friberg</span><span class="author-work">,Inst. f&ouml;r ekologi och v&auml;xtproduktionsl&auml;ra, SLU, Uppsala.</span></span></h3>
<p>
  <a href="/files/Klumprotsjuka.pdf" class="btn btn-download">Ladda ner rapport</a>
</p>

<hr>

<h3>Litteraturs&ouml;kning och att p&aring;b&ouml;rja litteraturstudier i &auml;mnet Relationen husdjur - m&auml;nniska
  <span class="author">av <span class="author-name">Vonne Lund</span><span class="author-location">, R&ouml;jer&aring;sen, Vikarbyn</span></span></h3>
<p>&quot; Ethics and animal welfare in organic animal husbandry - Vonne Lunds doktorsavhandling, i svensk sammmanfattning:</p>
<p><a href="/files/Animal%20welfare_sv.pdf" class="btn btn-download">Ladda ner rapport</a></p>

<hr>

<h3>Ekologiskt och n&auml;ra &#8211; Alternativ avs&auml;ttning f&ouml;r ekologiska produkter
  <span class="author">av <span class="autho-name">Svensk Ekocentrum Konsult</span></span></h3>
<p>
  <a href="/rapporter/eko_nara/" class="btn btn-download">Läs rapport</a>
</p>

<hr>

<h3>Om kvalitetsforskelle i f&oslash;devarer p&aring;vist med stigbilledmetoden
  <span class="author">av <span class="author-name">Annette Tingstad</span></span></h3>
<p>
  <a href="/rapporter/kvalitet/" class="btn btn-download">Läs rapport</a>
</p>

<h2><a name="seminarier"></a>Rapporter stipendiatseminarier</h2>

<h3>2005</h3>

Stipendiefondens seminarium den 12-13 mars 2005-04-20
Tre teman hade detta seminarium:

<ul>
<li>g&ouml;dslingsmetodens p&aring;verkan p&aring; produktens
kvalitet som livsmedel</li>
<li>marknadsf&ouml;ring och n&auml;tverksbyggande</li>
<li> kunskap om modersgudinnan
i f&ouml;rhistorisk tid</li>
</ul>

<p>
<a href="/files/Seminarierapport_05_03.pdf" class="btn btn-download">Ladda ner sammanfattning</a>
</p>

<h3>2001</h3>

Den 16-17 mars 2001 anordnade stipendiefonden ett seminarium f&ouml;r stipendiater p&aring; S.t Sigfrids folkh&ouml;gskola, utanf&ouml;r V&auml;xj&ouml;. Seminariets inneh&aring;ll var:

<ul>
<li><a href="/rapporter/a_kanslans/">Kunskap om k&auml;nslans intelligens</a> &#150; Gunilla Nordin, Stenumgsund</li>
<li>Olika vinklingar av f&ouml;rs&auml;ljning p&aring; g&aring;rdsniv&aring; &#150; <a href="/rapporter/a_ekocentrum/">Ekocentrum</a> (Carin Enfors, Eva Fr&ouml;man) och <a href="/rapporter/a_ebba/">Ebba-Maria Olsson</a>, Veber&ouml;d</li>
<li> &Ouml;kad kunskap om odlingsformens betydelse f&ouml;r matens kvalitet och v&aring;r h&auml;lsa &#150; B&ouml;rje Svensson, S:t Sigfrids folkh&ouml;gskola; Bengt Lundeg&aring;rdh, Uppsala och <a href="/rapporter/a_kvalitet/">Bodil S&oslash;gaard, K&ouml;benhavn</a></li>
</ul>


