  <h2>F&ouml;rs&auml;ljningssystem direkt fr&aring;n g&aring;rden </h2>
  <h3>&#150; Ebba-Maria Olsson, Veber&ouml;d</h3>
  <p>F&ouml;rs&auml;ljningen sker genom att kunderna prenumererar p&aring; 
    gr&ouml;nsakskassar, vars inneh&aring;ll varierar med &aring;rstiden. 
    Kunderna f&aring;r en kasse varannan vecka, med uppeh&aring;ll under jul 
    och sommar. De kan v&auml;lja p&aring; kassar f&ouml;r 65 eller 90 kronor. 
    De kan ocks&aring; best&auml;lla potatis-, &auml;gg- och fruktp&aring;sar.</p>
  <p>Dessutom f&aring;r kunderna varje g&aring;ng ett receptblad som passa 
    till gr&ouml;nsakskassens inneh&aring;ll. Betalningen sker genom postgiro 
    eller genom ett ombud f&ouml;r en grupp kunder.</p>
  <p>Ebba-Marias f&ouml;r&auml;ldrar har en g&aring;rd med ekologisk gr&ouml;nsaksodling. 
    Det &auml;r mest gr&ouml;nsakert och potatis d&auml;rifr&aring;n hon s&auml;ljer. 
    Vintertid kompletterar hon med gr&ouml;nsaker fr&aring;n Holland, vilka 
    hon importerar ihop med f&ouml;r&auml;ldrarna. Hon kan ocks&aring; anv&auml;nda 
    lagerutrymmen p&aring; f&ouml;r&auml;ldrarnas g&aring;rd och deras bil.</p>
  <p>Just nu levererar Ebba-Maria 264 p&aring;sar varje omg&aring;ng. Hon 
    k&ouml;r d&aring; 17 mil och har 27 leveransstopp i Malm&ouml;-Lundomr&aring;det.<br>
    Hon har r&auml;knat ut att hon kan fylla 65 kronors p&aring;sarna med 
    gr&ouml;nsaker f&ouml;r 43 kronor.</p>
  <p> Det &auml;r ett heltidsarbete att sk&ouml;ta den h&auml;r f&ouml;rs&auml;ljningen. 
    Enligt Ebba-Maria ger den ocks&aring; en heltidsinkomst &auml;ven om hon 
    just nu sj&auml;lv v&auml;ljer att ocks&aring; ha ett annat arbete.</p>
  <p><i>Referat av Susanne Schlecker</i></p>
