<h3>Presentation av Ekocentrums f&ouml;rstudie till projektet </h3>
<h2>&#148;Marknadsf&ouml;ring och koordination av n&auml;rodlade ekologiska 
  livsmedel&#148;</h2>
<p><br>
  Eva Fr&ouml;man och Carin Enfors</p>
<p>Ekocentrum &auml;r en ideel f&ouml;rening f&ouml;r alla som arbetar yrkesm&auml;ssigt 
  med livsmedel i n&aring;gon form, och som vill verka f&ouml;r en b&auml;ttre 
  milj&ouml; och h&aring;llbara produktionsmetoder. Ekocentrum vill verka 
  f&ouml;r en &ouml;kad konsumtion av ekologiskt och n&auml;rodlat.</p>
<p>Detta vill man g&ouml;ra genom:<br>
<ul>
  <li>En kontaktguide &#150; p&aring; papper och p&aring; internet<br>
  </li>
  <li>Kurser i marknadsf&ouml;ring</li>
  <li>Lokala n&auml;tverksbyggen</li>
  <li>Samordna transporter<br>
  </li>
  <li>Butikskonsulent-k&aring;r</li>
</ul>
<p> I f&ouml;rstudien vill Ekocentrum: 
<ul>
  <li>Inventera intresset hos producenter, butiker, restauranger, kommuner 
    m fl</li>
  <li>Studera liknande projekt</li>
  <li>Unders&ouml;ka m&ouml;jligheter till samarbete</li>
  <li>Utarbeta ett arbetss&auml;tt f&ouml;r projektet</li>
  <li>G&ouml;ra en plan f&ouml;r en permanent verksamhet</li>
</ul>
<p>Hittills har man gjort en unders&ouml;kning av intresset f&ouml;r projektet.<br>
  78 enk&auml;ter har skickats ut till lantbrukare, f&ouml;r&auml;dlare, 
  restauranger, storhush&aring;ll, grossister, kommuner och enm konsumentf&ouml;rening 
  &#150; alla i M&auml;laromr&aring;det.</p>
<p>30 stycken har svarat, d&auml;rav 29 positiva. 23 var anslutna till internet; 
  15 hade hemsid; 14 var med i liknande projekt.</p>
<p>Vidare har man unders&ouml;kt vilka liknande projekt som finns runt om 
  i landet. </p>
<p>M&ouml;jliga samarbetspartner som varit positiva vid kontakt &auml;r:</p>
<p> Ekologiskt Marknadscentrum i Sk&aring;ne<br>
  N&auml;reko i V&auml;stra G&ouml;taland<br>
  Kunskascentrum f&ouml;r lokal livsmedelsf&ouml;rs&ouml;rjning och regional 
  mat, SLU</p>
<p>Vid samtal med 4 ansvariga p&aring; olika projekt har f&ouml;ljande synpunkter 
  frankommit:</p>
<p> 
<ul>
  <li>Positivt: 
    <ul>
      <li>Marknadsf&ouml;ring st&auml;rks av samarbete</li>
      <li>Regionalt kommer! &#150; men n&auml;r?</li>
    </ul>
</ul>
<ul>
  <li>Sv&aring;righeter: 
    <ul>
      <li>Handeln allt mer toppstyrd</li>
      <li>Avs&auml;ttningen m&aring;ste vara l&ouml;st f&ouml;rstKRAV:s 
        regler</li>
      <li>Handdeln tycker att KRAVm&auml;rket signalerar dyrt!</li>
      <li>Lagen om offentlig upphandling f&ouml;rsv&aring;rar</li>
      <li>Intressekonflikter t ex om transporter</li>
      <li>Grossisternas attityder, tr&ouml;ga regelverk och kunskapsbrist</li>
      <li>Kortsiktiga ekonomiska vinstintressen i samh&auml;llet</li>
      <li>Problem med kommunikation mellan olika projekt i regionen</li>
      <li>Projket leder ibland inte till s&aring; mycket</li>
    </ul>
  </li>
</ul>
<p><i>Referat av Susanne Schlecker</i></p>
