<h1>Ekologiskt och n&auml;ra &#8211; Alternativ avs&auml;ttning f&ouml;r 
ekologiska produkter</h1>
<p>Ekologiska KRAV-m&auml;rkta livsmedel s&auml;ljs, precis som de konventionella, 
i vanliga livsmedelsbutiker. De levereras till butiker, restauranger och 
storhush&aring;ll via de traditionella handelsleden. </p>
<p>Dessa f&ouml;rs&auml;ljningskanaler fungerar utm&auml;rkt f&ouml;r st&ouml;rre, 
specialiserade producenter och f&ouml;r&auml;dlingsf&ouml;retag.<br>
Mindre f&ouml;retag, som ofta har en m&aring;ngsidig produktion kompletterad 
med vidaref&ouml;r&auml;dling p&aring; g&aring;rdsniv&aring;, har sv&aring;righeter 
att passa in i de storskaliga kanalerna. F&ouml;r dessa &auml;r det &ouml;nskv&auml;rt, 
eller rent av n&ouml;dv&auml;ndigt, med andra f&ouml;rs&auml;ljningss&auml;tt 
f&ouml;r att f&aring; l&ouml;nsamhet i f&ouml;retaget. </p>
<p>F&ouml;retag med f&ouml;r&auml;dling av ekologiska produkter hindras 
i sin utveckling pga. sv&aring;righeter att hitta r&aring;varor. Deras 
behov kan vara s&aring; specifika att det inte finns r&aring;varor inom 
regionen. M&ouml;jligheten att hitta dessa i andra regioner &auml;r begr&auml;nsad 
eftersom mindre f&ouml;retag ofta har mycket begr&auml;nsade resurser 
f&ouml;r marknadsf&ouml;ring. </p>
<p>Ekologiskt &auml;r en viktig milj&ouml;aspekt, n&auml;rproduktion med 
korta transporter en annan. N&auml;rproducerade ekologiska livsmedel &auml;r 
ett &ouml;nskem&aring;l f&ouml;r m&aring;nga konsumenter liksom det &auml;r 
f&ouml;r m&aring;nga b&ouml;nder och sm&aring; f&ouml;retag som bedriver 
olika former av livsmedelsf&ouml;r&auml;dling. </p>
<p>M&aring;nga livsmedelsbutiker, offentlig storhush&aring;ll och restauranger 
&auml;r intresserade av att ta in lokalt producerade ekologiska livsmedel. 
Problemet &auml;r att hitta lokala leverant&ouml;rer samt leverant&ouml;rer 
som kan h&aring;lla en j&auml;mn kvalitet och g&auml;rna en j&auml;mn 
tillf&ouml;rsel av varan.</p>
<h2>Intresset stort f&ouml;r alternativ avs&auml;ttning </h2>
<p>Ekocentrum har i en marknadsstudie unders&ouml;kt intresset f&ouml;r 
att koppla ihop lokala s&auml;ljare och k&ouml;pare av ekologiska livsmedel 
i hela landet. Detta skulle ske genom n&auml;tverksbyggen och uppbyggnad 
av en kontaktguide d&auml;r ekologiska producenter och sm&aring;skaliga 
f&ouml;r&auml;dlingsf&ouml;retag skulle kunna m&ouml;tas. </p>
<p>Kontaktguiden &auml;r t&auml;nkt att ligga som en hemsida p&aring; Internet 
men ocks&aring; finnas som tryckt upplaga. Med en regional indelning kan 
kontakt skapas p&aring; lokal niv&aring; men, f&ouml;r att underl&auml;tta 
handeln med ekologiska livsmedel till livsmedelsindustrin runt om i landet, 
ska den &auml;ven fungera p&aring; riksniv&aring;.</p>
<p>Marknadsstudien visar att det finns ett intresse f&ouml;r att en kontaktskapande 
guide byggs upp som ett alternativ till de traditionella avs&auml;ttningsv&auml;garna. 
S&auml;rskilt stort &auml;r intresset bland de ekologiska producenterna. 
</p>
<p>De produktgrupper som lantbrukarna helst vill s&auml;lja lokalt st&auml;mmer 
med vad livsmedelsbutiker, restauranger och storhush&aring;ll fr&auml;mst 
vill k&ouml;pa lokalt. Produktgrupperna &auml;r gr&ouml;nsaker, frukt 
och b&auml;r samt k&ouml;tt och chark.</p>
<p>Medan lantbrukarna &auml;r mest intresserade av att s&auml;lja direkt 
till livsmedelsbutiker, restauranger och storhush&aring;ll, &auml;r livsmedelsbutikerna, 
restaurangerna och storhush&aring;llen mest intresserade av att handla 
fr&aring;n grossister. Detta visar att det finns behov av n&aring;gon 
form av samordning av den lokala f&ouml;rs&auml;ljningen. </p>
<h2>Marknadsstudien</h2>
<p>Med bidrag fr&aring;n Flory Gates stipendiefond &#8221;Fred med jorden&#8221; 
genomf&ouml;rdes marknadsstudien 2001. </p>
<p>En fr&aring;geenk&auml;t skickades ut brevledes till ett utvalt antal 
intressenter. Studien begr&auml;nsades till 78 st utskickade enk&auml;ter 
och geografiskt till mellersta Sverige. Marknadsstudien kan best&auml;llas 
fr&aring;n Ekocentrum.<br>
<br>
Ekocentrum &#8211; Informationscentrum f&ouml;r ekologiska produkter &auml;r 
en ideell f&ouml;rening med syfte att verka f&ouml;r en b&auml;ttre milj&ouml; 
och h&aring;llbara produktionsmetoder p&aring; l&aring;ng och kort sikt. 
F&ouml;reningen verkar genom att sprida information om ekologiska produkter 
och ekologisk produktion och d&auml;rmed bidra till en &ouml;kad konsumtion 
av ekologiska livsmedel godk&auml;nda av KRAV, Demeter och EU. Jordbruksverket 
st&ouml;djer Ekocentrums verksamhet. Bes&ouml;k g&auml;rna v&aring;r hemsida 
www.swedenviro.com/ekocentrum!</p>
