---
title: Aktuellt
body_class: aktuellt
---
# Aktuellt

## 2013 års stipendiater är utsedda

Detta år har 115 000 kr fördelats till följande personer för utveckling av deras företag.

<a href="/stipendiater/#2013">L&auml;s om stipendiaterna</a>   
<a href="/files/FGpress13.pdf">L&auml;s hela pressmeddelandet</a>   

## Studieresa 2012

I september åkte vi på studieresa till några av våra stipendiater. Det är alltid lika roligt att besöka deras verksamheter.

[Läs mer](/aktuellt/2012-studieresa)

## 2012 års stipendiater är utsedda

Detta år har 115 000 kr fördelats till följande personer för utveckling av deras företag.

<a href="/stipendiater/#2012">L&auml;s om stipendiaterna</a>   
<a href="/files/FGpress12.pdf">L&auml;s hela pressmeddelandet</a>   

## 2011 &aring;rs stipendiater utsedda

Detta &aring;r har 110 000 kr f&ouml;rdelats till stipendiaterna f&ouml;r utveckling av deras f&ouml;retag och/eller utveckla det ekologiska lantbruket.

<a href="/stipendiater/#2011">L&auml;s om stipendiaterna</a>   
<a href="/files/FGpress2011.pdf">L&auml;s hela pressmeddelandet</a>

## 2010 &aring;rs stipendiater utsedda

Detta &aring;r har 59 000 kr f&ouml;rdelats till stipendiaterna f&ouml;r utveckling av deras f&ouml;retag och/eller utveckla det ekologiska lantbruket. En summa pengar &auml;r reserverade f&ouml;r forskning och kommer att delas ut under &aring;ret.

<a href="/stipendiater/#2010">L&auml;s om stipendiaterna</a>   
<a href="/files/Fred%20med%20Jorden%20-%20Pressrelease.pdf">L&auml;s hela pressmeddelandet</a>

## Lyckat 25-&aring;rs kalas!

Vi vill tacka alla deltagare och f&ouml;rel&auml;sare f&ouml;r en lyckad dag.

<%= img_tag(
  :image => "/images/anders_linder.jpg",
  :thumbnail => "/images/anders_linder_t.jpg",
  :size => "300x149",
  :label => "Anders Linder f&ouml;rf&ouml;r deltagarna") %>

<%= img_tag(
:image => "/images/gruppbild.jpg",
:thumbnail => "/images/gruppbild_t.jpg",
:size => "300x204",
:label => "Deltagarna - stipendiater, f&ouml;rel&auml;sare och styrelsen")
%>

<%= img_tag(
  :image => "/images/elin_och_anders.jpg",
  :thumbnail => "/images/elin_och_anders_t.jpg",
  :size => "200x299",
  :label => "Ekologiska Lantbrukarnas ordf&ouml;rande Elin Rydstr&ouml;m och f&ouml;rel&auml;saren Anders Linder")
%>


Bilder &auml;r tagna av &Aring;sa Nyhl&eacute;n

## Vi firar 25 &aring;r

Kom och fira med oss p&aring; S:t Sigfrids folkh&ouml;gskola i V&auml;xj&ouml; l&ouml;rdagen den 7 november.

Mer information finns p&aring; <a href="/files/inbjudan091107.pdf">inbjudan</a>.

## 2009 &aring;rs stipendiater utsedda

Detta &aring;r har 110 000 kr f&ouml;rdelats till stipendiaterna f&ouml;r utveckling av deras f&ouml;retag och/eller utveckla det ekologiska lantbruket. En summa pengar &auml;r reserverade f&ouml;r forskning och kommer att delas ut under &aring;ret.

<a href="/stipendiater/#2009">L&auml;s om stipendiaterna</a>   
<a href="/files/FGpress09.pdf">L&auml;s hela pressmeddelandet</a>

## 2008 &aring;rs stipendiater utsedda

Detta &aring;r har 150 000 kr f&ouml;rdelats till f&ouml;ljande personer f&ouml;r utveckling av deras f&ouml;retag och/eller utveckla det ekologiska lantbruket.

<a href="/stipendiater/#2008">L&auml;s om stipendiaterna</a>   
<a href="/files/FGpress07.pdf">L&auml;s hela pressmeddelandet</a>

## 2007 &aring;rs stipendiater utsedda

Detta &aring;r har 109 000 kr f&ouml;rdelats till sju kvinnor. Stipendiaterna har, enligt v&aring;ra bed&ouml;mningar, v&auml;l fungerande ekologiska lantbruksf&ouml;retag.  Dessutom &auml;r alla engagerade f&ouml;r att p&aring; olika s&auml;tt f&ouml;ra ut id&eacute;erna med ekologiskt lantbruk.

<a href="/stipendiater/#2007">L&auml;s om stipendiaterna!</a>   
<a href="/files/FGpress07.pdf">L&auml;s hela pressmeddelandet</a>
