---
layout: layout
title: Välkommen!
body_class: frontpage
---
<p>
<%= image_tag 'logo-black.png' %>
</p>
<blockquote>
  &ldquo; Jag vägrar anpassa mig till framstegen på vägen mot undergången. &rdquo;
</blockquote>
<!-- <p> -->
<!-- Stiftelse FRED MED JORDEN skall stimulera och stödja personer, i första hand kvinnor, som vårdar sig om modernäringen genom att yrkesmässigt driva jordbruk eller handelsträdgård enligt metoder som bygger på kunskap om och tillit till jorden egen förmåga att förse en odling med nödvändiga växtnäringsämnen, när dess mikrobiologiska liv tillföres vad det behöver för en allsidig utveckling, samt att stödja forskning inom detta område. -->
<!-- </p> -->
