---
title: Styrelsen
body_class: styrelsen
---
<h1>Stipendiefondens styrelse</h1>

<p>
  Om du vill kontakta styrelsen skicka ett e-post till  <a href="mailto:stipendium@fredmedjorden.se">stipendium@fredmedjorden.se</a>
</p>

<dl class="styrelsemedlem">
  <dd><strong>Karin Sahlstr&ouml;m</strong></dd>
</dl>

<dl class="styrelsemedlem">
  <dd><strong>Eva Christiansson</strong></dd>
</dl>

<dl class="styrelsemedlem">
  <dd><strong>Susanne Schlecker</strong></dd>
</dl>

<dl class="styrelsemedlem">
  <dd><strong>Ingegerd Vejvi</strong></dd>
</dl>
<dl class="styrelsemedlem">
  <dd><strong>Karin Borgenvall</strong></dd>
</dl>
<!--
<dl class="styrelsemedlem">
  <dt><img src="http://www.gravatar.com/avatar/88bbe05fec72c1eba7c39d780c3bccae.png" width="80" height="80"></dt>
  <dd><strong>Simon Gate</strong></dd>
  <dd>Algatan 36B, 214 46 Malmö</dd>
  <dd><a href="mailto:simon@smgt.me">simon@smgt.me</a></dd>
</dl>
-->
